@keyframes movebanner {
  from {
    transform: translate(0, 0px);
  }

  to {
    transform: translate(-3075px, 0px);
  }
}

.banner1 {
  animation-duration: 40s;
  animation-name: movebanner;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-timing-function: linear;
}
#banners::-webkit-scrollbar {
  visibility:hidden;
}